.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cv-heading {
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
}

.cv-box {
  display: flex;
  flex-direction: row;
}

.cv-container {
  min-width: 40vw;
  margin-left: 5em;
  margin-right: 2em;
  background-color: #6c757d;
  border-radius: 1em;
}

.personal-container {
  display: flex;
  flex-direction: column;
}

.text-field-container {
  display: flex;
  flex-direction: column;
  padding: 0 3em 0 3em;
}

.text-field-label {
 color: rgb(14, 231, 184) !important;
}

.personal-information-title {
  font-size: 30px;
  margin-top: 1em;
}

.education-container {
  display: flex;
  flex-direction: column;
}

.education-title {
  font-size: 30px;
  margin-top: 1em;
}
